<a href="https://colab.research.google.com/github/aditya002ai/MachineLearning/blob/main/7_AdvancePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Functions***

In [1]:
num = 2
if num % 2==0:
  print('Even Number')
else:
  print('Odd Number')

Even Number

In [2]:
def findOddEven(num):
  if num%2==0:
    print('Even')
  else:
    print('odd')

In [3]:
print(findOddEven(11))

odd
None

In [4]:
# print vs retur
def myName(str):
  # print(str)
  return str

In [5]:
myName('Aditya')

'Aditya'

In [6]:
## ***Positional and keyword argument***

def PositionalKeyWord(name, age =30):
  print("My name is {} and my age is {}".format(name,age))

In [7]:
PositionalKeyWord('Adi')

My name is Adi and my age is 30

In [8]:
def hello(*args, **kwargd):

  print(args)
  print(kwargd)

In [9]:
hello("Aditya","Kumar",age=29,dob=2012)

('Aditya', 'Kumar')
{'age': 29, 'dob': 2012}

In [10]:
lst = ["Adi","Sonu"]
dist = {'age':30,'height':190}
hello(*lst,**dist)

('Adi', 'Sonu')
{'age': 30, 'height': 190}

In [11]:
lst=[1,2,3,4,5,6,7,8,9,10]
def evenoddsum(lst):
  even = 0
  odd = 0
  for i in lst:
    if i%2==0:
      even = even+i
    else:
      odd = odd+i
  return even,odd

evenoddsum(lst)

(30, 25)

***Lambda functions***

In [12]:
def additionNormal(a,b):
  return a+b

In [13]:
additionNormal(5,5)

10

In [14]:
addition = lambda a,b:a+b

In [15]:
addition(4,3)

7

In [16]:
def even(num):
  if num%2==0:
    print('Even')
  else :
    print('odd')

In [17]:
even(5)

odd

In [18]:
even1 = lambda num:num%2==0

In [19]:
even1(5)

False

In [20]:
add = lambda a,b,c:a+b+c

In [21]:
add(2,2,2)

6

***Map Function ***

In [22]:
def findEven(num):
  if num%2==0:
    return "The value of even number is {}".format(num)
  else:
    return "The value of odd number is {}".format(num)

In [23]:
findEven(11)

'The value of odd number is 11'

In [24]:
findEven(13)

'The value of odd number is 13'

In [26]:
lt = [1,2,3,4,5,6,78,11,22,33,44,55,66,77,89,8]
value = list(map(findEven,lt))
value

['The value of odd number is 1',
 'The value of even number is 2',
 'The value of odd number is 3',
 'The value of even number is 4',
 'The value of odd number is 5',
 'The value of even number is 6',
 'The value of even number is 78',
 'The value of odd number is 11',
 'The value of even number is 22',
 'The value of odd number is 33',
 'The value of even number is 44',
 'The value of odd number is 55',
 'The value of even number is 66',
 'The value of odd number is 77',
 'The value of odd number is 89',
 'The value of even number is 8']

***Filter function***

In [28]:
def even(num):
  if num%2==0:
    return True

In [29]:
list(filter(even,lt))

[2, 4, 6, 78, 22, 44, 66, 8]

In [30]:
list(filter(lambda num:num%2==0,lt))

[2, 4, 6, 78, 22, 44, 66, 8]

***List Comprehension***  

List Comprehesion provide a concise way to create lists.

In [33]:
lst = []
def lst_square(lst1):
  for i in lst1:
    lst.append(i*i)
  return lst

In [34]:
lst_square([1,2,3,4,5,6,7,8,9])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
mylist = [1,2,3,4,5,6,7,8,9]
[i*i for i in mylist]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
[i*i for i in mylist if i%2==0]

[4, 16, 36, 64]

***String Formatting in Python***

In [ ]:
print("Hello every one")

In [37]:
def greeting(name):
  return("Hello {}. welcome to the community".format(name))

In [38]:
greeting('Aditya')

'Hello Aditya. welcome to the community'

In [39]:
def  welcome_email(firstname, lastname):
  return "Welcome {}, {}".format(firstname,lastname)

In [40]:
welcome_email('Aditya','Prajapati')

'Welcome Aditya, Prajapati'

*** Python List iterables vs iterators***