<a href="https://colab.research.google.com/github/aditya002ai/MachineLearning/blob/main/Chi_Square_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This test is applied when there is two categorical variable from single population. It is used to determine whether there is a significance between the two variable **

In [2]:
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
dataset = sns.load_dataset('tips')
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4