<a href="https://colab.research.google.com/github/aditya002ai/MachineLearning/blob/main/Chi_Square_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This test is applied when there is two categorical variable from single population. It is used to determine whether there is a significance between the two variable **

In [1]:
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
dataset = sns.load_dataset('tips')
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
dataset_table = pd.crosstab(dataset['sex'],dataset['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [17]:
# Observed value
Observed_value = dataset_table.values
print('Observed value ',dataset_table.values)

Observed value  [[60 97]
 [33 54]]

In [11]:
val = stats.chi2_contingency(dataset_table)
val

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [13]:
ExpectedValue = val[3]
ExpectedValue

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [15]:
no_of_rows = len(dataset_table.iloc[0:2,0])
no_of_column  = len(dataset.iloc[0,0:2])
ddof = (no_of_rows-1)*(no_of_rows-1)
print('Degree of Freedom',ddof)
alpha = 0.05

Degree of Freedom 1

In [18]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2./e for o,e in zip(Observed_value,ExpectedValue)])
chi_square

array([0.00119737, 0.00073745])

In [19]:
chi_square_statistic = chi_square[0]+chi_square[1]
print('chi_square_statistic',chi_square_statistic)

chi_square_statistic 0.001934818536627623

In [20]:
critical_value = chi2.ppf(q=1-alpha,df=ddof)
critical_value

3.841458820694124

In [21]:
# p-value
p_value = 1-chi2.cdf(x= chi_square_statistic, df= ddof)
print('p-vlaue',p_value)
print('Significance Level', alpha)
print('Degree of Freedom ',ddof)

p-vlaue 0.964915107315732
Significance Level 0.05
Degree of Freedom  1

In [26]:
if chi_square_statistic >= critical_value:
  print('Reject H0, There is a relationship between 2 categorical variables')
else:
  print('Retain H0, There is no relationship between 2 categorical variables')

Retain H0, There is no relationship between 2 categorical variables

In [27]:
if p_value <= 0.05:
  print('Reject H0, There is a relationship between 2 categorical variables')
else:
  print('Retain H0, There is no relationship between 2 categorical variables')

Retain H0, There is no relationship between 2 categorical variables