<a href="https://colab.research.google.com/github/aditya002ai/MachineLearning/blob/main/T_test_null_hypothesise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp

In [4]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]
ages_mean = np.mean(ages)
ages_mean

30.34375

In [10]:
sample_size = 10
ages_sample =np.random.choice(ages,sample_size)
ages_sample

array([65, 14, 20, 18, 24, 23, 18, 70, 43, 32])

In [11]:
t_test,p_value = ttest_1samp(ages_sample,30)
p_value

0.681706021161897

In [12]:
if p_value < 0.05:
  print(' we are rejecting null hypothesis')
else:
  print('we are accepting null hypothesis')

we are accepting null hypothesis

***Other Example ***
Consider a age of student in a college  and class A

In [13]:
import numpy as np
import pandas as pd
import math
import scipy.stats as stats

In [17]:
np.random.seed(6)
school_age = stats.poisson.rvs(loc=18, mu=35,size= 1500)
classA_age = stats.poisson.rvs(loc=18, mu=30, size= 60)
classA_age.mean()

46.9

In [19]:
_,p_value = stats.ttest_1samp(a=classA_age,popmean=school_age.mean())
p_value

1.139027071016194e-13

In [20]:
if p_value < 0.05:
  print("we are rejecting null hypothesis")
else:
  print('we are accepting null hypothesis')

we are rejecting null hypothesis

***Independent Sample t-test or 2 Sample t test***

In [23]:
np.random.seed(12)
classB_age = stats.poisson.rvs(loc= 18, mu= 33, size=60)
classB_age.mean()

50.63333333333333

In [24]:
_,p_value = stats.ttest_ind(a= classA_age, b= classB_age, equal_var= False)
p_value

0.00039942095100859375

In [25]:
if p_value < 0.05:
  print('we are rejecting null hypothesis')
else:
  print('we are accepting null hypothesis')

we are rejecting null hypothesis

*** Paired T test ***
when you want to check how different samples from same group are, then you can go for paired T - test

In [27]:
weight1 = [25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2 = weight1+stats.norm.rvs(scale= 5, loc= -1.25, size= 15)
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[16.1845637  24.93234756 27.99601605 25.80095696 21.85237039 33.36380814
 33.19646047 28.63874933 28.9100301  34.41607782 21.43952644 27.08685451
 33.96370697 34.13369994 46.03845269]

In [29]:
weight_df = pd.DataFrame({"weight_10":np.array(weight1), "weight_2":np.array(weight2), "weight change":np.array(weight2)- np.array(weight1)})
weight_df

    weight_10   weight_2  weight change
0          25  16.184564      -8.815436
1          30  24.932348      -5.067652
2          28  27.996016      -0.003984
3          35  25.800957      -9.199043
4          28  21.852370      -6.147630
5          34  33.363808      -0.636192
6          26  33.196460       7.196460
7          29  28.638749      -0.361251
8          30  28.910030      -1.089970
9          26  34.416078       8.416078
10         28  21.439526      -6.560474
11         32  27.086855      -4.913145
12         31  33.963707       2.963707
13         30  34.133700       4.133700
14         45  46.038453       1.038453

In [32]:
_,p_value = stats.ttest_rel(a= weight1, b= weight2)
p_value

0.3844965760393534

In [33]:
if p_value < 0.05:
  print('we are rejecting null hypothesis')
else:
  print('we are accepting null hypothesis')

we are accepting null hypothesis